

@{
    
    ViewData["Title"] = "Unauthorised Access";

}

<div class="services-container">
    <div class="container">
        <div class="row col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <section>
                        <h2 class="text-danger">401 ! Access Denied</h2>
                        <hr />  
                        <h5 class="text-danger"><em>You can not access the page you requested. Please contact your Supervisor to request for authorisation!! </em></h5>
                    
                    <textarea class="form-control" rows="4"></textarea>
                    <button class="btn btn-info pull-right" style="background-color: #3bafda; margin-top:20px">Submit</button>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>
<hr />
