@model DHIS.Models.IdentityModels.ResetPasswordViewModel

@{
    Layout = null;
}

<head>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-1.11.1.js"></script>
    <link href="~/css/account.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <title>GIPF ESS | Enterprise Software Solution</title>
</head>
<body>
    <div class="login-form">

        <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">

            <div class="text-center">

                <img src="~/images/gipf.png" />

            </div>
            <hr class="hr" />
            <h4 class="modal-title text-center"><strong>ENTERPRISE SOFTWARE SOLUTION <br /><span>(ESS)</span></strong></h4>

            <hr class="hr" />
            @{
                var errorMessage = this.TempData["ErrorMessage"]?.ToString();

                if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">
                        <em>  <strong>Oops!</strong> @errorMessage </em>
                    </div>
                }
            }
            <h5 class="text-center"> <strong>RESET YOUR PASSWORD</strong></h5>

            <hr />

            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email Address">
                <em><span asp-validation-for="Email" class="text-danger"></span></em>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <em><span asp-validation-for="Password" class="text-danger"></span></em>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <em><span asp-validation-for="ConfirmPassword" class="text-danger"></span></em>
            </div>
            <div class="form-group small clearfix">

                Already have an account?
                <a href="http://10.224.167.19:84/" class="forgot-link">Sign in here</a>
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="Reset">
        </form>
    </div>
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
